@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=Inter:wght@500;800&display=swap');

/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
	@apply w-2 h-2;
}
*::-webkit-scrollbar-thumb {
	@apply bg-violet-500 rounded-full;
}
